<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {980, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>BB664270-D5D3-4922-92BA-13828AE114CE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FC30AB95-1AF3-43DF-A33B-8BE3795B931C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {734, 620}}</string>
		<string>{{735, 0}, {245, 620}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 564}}</string>
	<key>mainWindowFrame</key>
	<string>0 197 1246 678 0 0 1440 875 </string>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
