<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {734, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>08C95A73-A991-4558-9589-92A522877970</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0F717255-B2BC-4161-98A3-61F1AAFC67F6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>13AC049F-B5EA-4CF0-8E16-3FBD2987E695</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>15DD1FCD-C19B-44BC-B49A-75CDBE1E12BF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1946E5F3-5C54-4FEF-9CEA-6A4F2E85EAFB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3511976D-181F-4B5E-A000-D4ED959B8EF3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3AC0493B-EC63-4F97-BDB0-726B9960B682</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3C5CAE5B-25AE-4230-8E27-F561FA1F1D3A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>45A14959-231C-4551-8BB3-E50E5A67B665</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>47E3BEA0-BBB8-4D24-B307-3BED8D5532C0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5EAD81E2-EC7B-4F94-8812-CC154004F182</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>693F2F25-75A9-46AB-9797-9B202D1B0162</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6F1C2C5D-EA76-4C11-943B-A58200274794</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>80629661-0BF9-4136-B0DE-1D1822E9FF01</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>86B7CB4C-67D8-4B6E-9322-F1C616707D71</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9FE5D6D4-DF5F-438F-B478-024E35039AD1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A89AEA83-CB8D-461E-B287-75F9F2FF2524</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AA74008F-B576-48E9-B949-911A7F3C4475</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C8763C76-412F-47CF-BC75-5769759C3C75</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C98FB962-A614-4049-B9D2-C39F4B8D3396</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D7BBA3B6-D424-4FE0-9143-EC7FB0B040BC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DDD3D764-8607-435D-BBB4-4E7FD1531E4A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F88E94D4-CAC9-4E5D-85F0-B8A4FFD8C03C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {288, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 564}}</string>
	<key>mainWindowFrame</key>
	<string>0 197 1000 678 0 0 1440 875 </string>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
